{% extends 'catalog/base.html' %}
{% block content %}
{% load static %}

<div class="row text-center">
    <div class="col-md-4">
        <h2>Название: {{object.title}}</h2>
        <p>Slug: {{object.slug}}</p>
        <p>Контент: {{object.body}}</p>
        <p>Признак публикации: {{object.publication_feature}}</p>
        <p>Просмотры: {{ object.views_count }}</p>
        <a href="{% url 'blog:edit' object.pk %}" class="btn btn-success">Редактировать</a>
        <a href="{% url 'blog:list' %}" class="btn btn-secondary">Назад</a>
    </div>
</div>
{% endblock %}