{% extends 'catalog/base.html'%}

{% block content %}
     <h1 class="display-4">Список активных версий продукта {{ product_title }}</h1>
<div class="container">
    <div class="row text-center">
    {% if object_list %}
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Описание: {{ object.description }}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">У продукта отсутствуют активные версии</h4>
                </div>
    {% endif %}
    <a href="{% url 'catalog:update_home' pk %}" type="button" class="btn btn-lg btn-block btn-outline-primary">Редактировать продукт</a>
    </div>

</div>
{% endblock %}